@import "tailwindcss";

:root {
  --background: #93eded;
  --foreground: #000000;
}

/* :root {
  --background: #357266;
  --foreground: #ffffff;
} */

/* * {
    outline: 1px solid green;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

h1 {
    font-size: 4em;
}
h2 {
    font-size: 3em;
}

a:hover {
    color: #357266;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.circle-container {
  position: relative;
  width: 400px;
  height: 400px;
  /* margin: 50px auto; */
  /* border: 4px dashed #ccc;   */
  /*For visualization*/
  border-radius: 50%;
}

.circle-item {
  position: absolute;
  top: 50%;
  left: 40%;
  width: 70px;
  height: 70px;
}

.box-item {
    box-shadow: 0px 5px 5px 1px grey;
}

/* #sections {
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

#sections section {
    height: 100vh;
    scroll-snap-align: start;

} */
