@import "tailwindcss";

:root {
  --background: #FFFFFF;
  --foreground: #000000;
}

.fg-reg {
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* :root {
  --background: #357266;
  --foreground: #ffffff;
} */

/* * {
    outline: 1px solid green;
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-size: clamp(48px, 3.333vw, 80px);
    color: #2F6056;
}

h2 {
    color: #2F6056;
    font-size: clamp(32px, 2.5vw, 64px);
}

h3 {
    color: #F283B6;
    font-size: clamp(16px, 1.667vw, 48px);
}

h2#projects, h2#skills {
    color: #ffffff;
}

a.navbar:hover {
    color: #F283B6;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.circle-container {
  position: relative;
  width: 25em;
  height: 25em;
  /* border: 4px dashed #ccc;   */
  border-radius: 50%;
}

.circle-item {
  /* position: absolute; */
  /* top: 20%;
  left: 40%; */
  width: 5em;
  height: 5em;
}

.box-item {
    box-shadow: 0px 0.313em 0.313em 0.063rem grey;
    border: 0.13em solid black;
}

.section {
    max-width: 120em;
    padding: 0em 2.5em;
}

.indented-paragraph {
    text-indent: 2.5em;
}

.textlg {
    font-size: clamp(12px, 0.938vw, 32px);
}

.textxl {
    font-size: clamp(20px, 1.25vw, 28px);
}

.text4x {
    font-size: clamp(24px, 1.875vw, 48px);
}

